{% extends 'base.html' %}

{% block css %}    
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/language-styles.css')}}">
{% endblock %}

{% block title %}
    Mi diccionario personal
    {% if language%}
        - {{language.language }}
    {% endif %}
{% endblock %}

{% block model_list_table %}
<!-- Barra lateral -->>
{% if topics %}     <!-- Verifica si hay items en un lenguaje seleccionado -->
    <ul class="items">
        <h4 class="language-selected">

            {% if language.language %}
              <a href="{{ url_for('get_list', language=language.language) }}">{{ language.language }}</a>
              {% if current_user.is_authenticated: %}
                <a class="add_topics" href="{{ url_for('add_topic', lang_id=language.id) }}"><i class="fas fa-plus-circle"></i></a>
              {% endif %}
            {% endif %}
        </h4>
        {% for topic in topics %}
            <li class="item">
                {% if topic_selected %}
                    {% if topic.id ==  topic_selected.id %}
                        <a class="item_from_list item_t {{ a_class }}" href="{{ url_for('get_topic', language=language.language, topic=topic.item_name, lang_id=language.id, topic_id=topic.id) }}">{{ topic.item_name }}</a>
                    
                    {% else %}
                        <a class="item_t" href="{{ url_for('get_topic', language=language.language, topic=topic.item_name, lang_id=language.id, topic_id=topic.id) }}">{{ topic.item_name }}</a>
                    {% endif %}
                {% else %}
                    <a class="item_t item_from_list" href="{{ url_for('get_topic', language=language.language, topic=topic.item_name, lang_id=language.id, topic_id=topic.id) }}">{{ topic.item_name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}  
    <ul class="lang_items">
        <h4 class="language-selected">

            {% if language.language %}  <!-- Si no hay items verifica si hay un lenguaje selecionado -->
              <a href="{{ url_for('get_list', language=language.language) }}">{{ language.language }}</a><a class="add_topics" href="{{ url_for('add_topic', lang_id=language.id) }}"><i class="fas fa-plus-circle"></i></a>
            {% else %}  <!-- Si no hay lenguaje seleccionado muestra los lenguajes disponibles -->
              Lenguajes<a class="add_topics" href="{{ url_for('add_lang') }}"><i class="fas fa-plus-circle"></i></a>
            
            {% endif %}
        </h4>
    </ul>
{% endif %}
{% endblock %}
 
    


{% block content %}
<div class="col-lg-2 col-md-2 ">
</div>

<div class="col-lg-10 contenido">
    {% if topic_selected %}
        <h4 class="title">{{ topic_selected.item_name  }}</h4>
        <p>
            {{ topic_selected.description|safe }}
        </p>
        <a class="btn btn-success float-right" href="{{url_for('edit_topic', topic_id=topic_selected.id)}}">Editar</a>
    {% else %}
        <h4 class="title">{{ language.language  }}</h4>
        <img class="rounded mx-auto d-block img-thumbnail" src="{{ language.img_url }}" alt="logo">
        <p>
            {{ language.description|safe }}
        </p>
    {% endif %}
</div>
{% endblock %}