{% extends 'base.html' %}

{% block css %}    
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/language-styles.css')}}">
{% endblock %}

{% block title %}
    Mi diccionario personal - {{language.language }}
{% endblock %}

{% block model_list_table %}

{% if topics %}
    <ul class="items">
        <h4 class="language-selected">

            {% if language.language %}
              <a href="{{ url_for('get_list', language=language.language, lang_id=language.id) }}">{{ language.language }}</a><a class="add_topics" href="{{ url_for('add_topic', lang_id=language.id) }}"><i class="fas fa-plus-circle"></i></a>
            {% else %}
              Lenguajes<a class="add_topics" href="{{ url_for('add_lang') }}"><i class="fas fa-plus-circle"></i></a>
            
            {% endif %}
        </h4>
        {% for topic in topics %}
            <li class="item">
                <a class="item_a" href="{{ url_for('get_topic', language=language.language, topic=topic.item_name, lang_id=language.id, topic_id=topic.id) }}">{{ topic.item_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="lang_items">
        <h4 class="language-selected">

            {% if language.language %}
              <a href="{{ url_for('get_list', language=language.language, lang_id=language.id) }}">{{ language.language }}</a><a class="add_topics" href="{{ url_for('add_topic', lang_id=language.id) }}"><i class="fas fa-plus-circle"></i></a>
            {% else %}
              Lenguajes<a class="add_topics" href="{{ url_for('add_lang') }}"><i class="fas fa-plus-circle"></i></a>
            
            {% endif %}
        </h4>
    </ul>
{% endif %}
{% endblock %}
 
    


{% block content %}
<div class="col-lg-2 col-md-2 ">
</div>

<div class="col-lg-10 contenido">
    <h4 class="title">{{ topic.item_name  }}</h4>
    <p>
        {{ topic.description|safe }}
    </p>
</div>
{% endblock %}
